<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>choices</key>
	<dict>
		<key>红日</key>
		<string>韩,孩,晚,相,遇,身,见,日,情,水,笨,歌,红,恨,你,单,手,小,爱,见,说</string>
		<key>我可以抱你吗</key>
		<string>身,水,抱,相,我,喜,夜,水,吗,爱,以,单,你,爱,红,歌,手,小,日,红,可</string>
		<key>一场游戏一场梦</key>
		<string>三,游,夜,一,雨,戏,流,零,我,言,场,语,是,浪,场,千,只,两,梦,冰,一</string>
		<key>小苹果</key>
		<string>零,我,言,小,数,妃,有,生,果,爱,鸭,青,苹,园,一,王,歌,牵,乐,你,手</string>
		<key>海阔天空</key>
		<string>空,期,我,海,星,自,阔,一,大,过,突,笑,然,而,城,书,的,天,忘,我,愿</string>
	</dict>
	<key>musicFinished</key>
	<array/>
	<key>musicUnfinished</key>
	<array>
		<array>
			<string>倒带</string>
			<string>倔强</string>
			<string>出卖</string>
			<string>十年</string>
			<string>单车</string>
			<string>后来</string>
			<string>存在</string>
			<string>安静</string>
			<string>情书</string>
			<string>晴天</string>
			<string>离歌</string>
			<string>童话</string>
			<string>素颜</string>
			<string>红日</string>
			<string>红豆</string>
		</array>
		<array>
			<string>在雨中</string>
			<string>女人花</string>
			<string>小苹果</string>
			<string>就是我</string>
		</array>
		<array>
			<string>为爱疯狂</string>
			<string>勇敢的心</string>
			<string>匆匆那年</string>
			<string>快乐崇拜</string>
			<string>因为爱情</string>
			<string>壁虎漫步</string>
			<string>我们的爱</string>
			<string>我怀念的</string>
			<string>好久不见</string>
			<string>断桥残雪</string>
			<string>时间煮雨</string>
			<string>海阔天空</string>
			<string>爱的供养</string>
			<string>牡丹亭外</string>
			<string>生如夏花</string>
			<string>盛夏光年</string>
			<string>类似爱情</string>
		</array>
		<array>
			<string>high歌</string>
			<string>可惜不是你</string>
			<string>不管有多苦</string>
			<string>听妈妈的话</string>
			<string>布拉格广场</string>
			<string>我的滑板鞋</string>
			<string>新贵妃醉酒</string>
			<string>至少还有你</string>
		</array>
		<array>
			<string>我可以抱你吗</string>
			<string>忠孝东路走九遍</string>
			<string>一场游戏一场梦</string>
			<string>今天你要嫁给我</string>
		</array>
	</array>
	<key>difficulty</key>
	<string>2</string>
	<key>currentLevel</key>
	<string>0</string>
</dict>
</plist>
